<div class="hero-unit">
  <div class="container">
    <h1>Angular Calendar</h1>
  </div>
</div>

<div role="main">
  <div class="container">
    <section id="directives-calendar">
      <div class="page-header">
        <h1>Angular Calendar</h1>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-md-4">
            <h4>Please select a person to add an event:</h4>
            
            <select class="form-control calTools" ng-options="user as user.name for user in users" 
              ng-model="selectedItem" ng-change="update()">
            </select>

            <div class="form-group">
              <div class="btn-group calTools">
                <div class="col-sm-4">
                  <button type="button" ng-disabled="isUserDisabled" class="btn btn-primary" ng-click="addEvent()">Add Event</button>
                </div>
                <label for="minValue" class="col-sm-5 control-label">Filter by days:</label>
                <div class="col-sm-3">
                 <input type="text" class="form-control" id="minValue" ng-model="minValue">
                </div>
              </div>  
            </div>

            <ul class="unstyled">
              <li ng-repeat="user in users | gt:minValue">
                <div class="alert alert-info">
                  <b> <input disabled ng-model="user.name"></b> 
                  {{ user.days + " days" }}
              </li>
            </ul>
          </div>

          <div class="col-md-8">
            <tabset>
              <tab select="renderCalender(myCalendar1);">
                <tab-heading>
                  <i class="glyphicon glyphicon-bell"></i> Calendar
                </tab-heading>
                <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                  <h4>{{alertMessage}}</h4>
                </div>
                <div class="btn-toolbar">
                  <p class="pull-right lead">Calendar One View Options</p>
                  <div class="btn-group">
                    <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Month</button>
                  </div>
                </div>
                            
                <div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
              </tab>

            </tabset>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>